
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">User</th>
      <th scope="col">Rationale</th>
      <th scope="col">Overtime requested</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
