@import "bootstrap";

.pending-overtime-approvals {
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
}

.homepage-block {
  margin: 15px 40px;
  background-color: rgb(25, 73, 92);
  color: white;
  padding: 15px;
  border-radius: 3px;
}

.pending-details {
  font-weight: bold;
}
